* {
    box-sizing: border-box;
}

.container1 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem 2rem 7rem;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
}

.container2 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: 2rem;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 1rem;   
}

.container3 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: 2rem;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
}


.computer-card {
    height: 100;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    background-color: black;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}