* {
    box-sizing: border-box;
}

header {
    margin: 0;
    text-align: center;
}

footer {
    margin: 0;
    text-align: center;
    padding-top: 2rem;
}
.container1 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
}

.container2 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 4rem);
    grid-template-rows: 2rem;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 1rem;   
}

.container3 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: 7rem;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
}

.container4 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 2rem 7rem;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
}

.computer-card {
    height: 100;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    background-color: black;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg)
} 

.card.red{
    color:red;
}

.card.black{
    color:black
}